CALLSIGN=N0CALL
RTL_SERIAL=00000001
LAT=0.0
LON=0.0
ALT=0m
TZ=Europe/Istanbul
ADSB_PORT=8090
ACARS_PORT=8081
ACARS_UDP_PORT=5550
READSB_PORT=30005
ACARS_FREQUENCIES=131.525;131.725;131.825
SATDUMP_BIN=satdump-ui
GPREDICT_BIN=gpredict
